:root{
    --color-primario : #2D3E50;
    --color-btn-light : #c4beeb;
    --color-btn-primary : #6959cb;
    --color-border : rgba(0, 0, 0, 0.173);
    --color-fechas : rgb(213, 197, 197);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    /* uso el overflow para evitar que se vean los menus CREAR CAMPAÑA y CREAR NOTA, ya que se sobrepasan del width del vp */
}

body{
    font-size: 1rem;
}


.calendario{
    margin: 2rem;
}

.seleccionarVistaPorFechas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.fechas{
    display: flex;
    background-color: var(--color-fechas);
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    /* padding: 0.8rem  5rem; */
    width: 20rem;
    color: white;
}

.fechas:hover{
    background-color: #c4beeb;
}

.mes, .semana, .dia{
    
    background-color: var(--color-fechas);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    transition: background-color .3s ease;
}

.mes:hover, .semana:hover, .dia:hover{
    background-color: var(--color-primario)
}

.semana.a{
    border-radius: 10px;
    border-left: 1px solid var(--color-btn-primary);
    border-right: 1px solid var(--color-btn-primary);
    padding: 0 0.5rem;
}

.crearTareaBtn{
    border: none;
    border-radius: 2.8rem;
    padding: 0.8rem 1rem;
    color: white;
    background-color: rgb(131, 155, 188);
    font-weight: normal;
    cursor: pointer;
    width: 10em;
    transition: background-color 0.3s ease, font-weight 0.3s ease;
}

.crearTareaBtn:hover{
    background-color: rgb(68, 106, 194);
}

.mesActual{
    margin-top: 1.5rem;
}

/* estilizando el menu flotante que se activa al darle click al boton CREAR NOTA */

.crearNotass{
    position: absolute;
    border-radius: 3px;
    border: 1px solid var(--color-primario);
    top: 60%;
    right: 50%;
    transform: translate(210%, -50%);
    min-height: 80vh;
    /* configuramos la altura de la sección crear notas */
    width: 28rem;
    padding: 1.3rem;
    z-index: 10000;
    background-color: whitesmoke;
    font-size: .9rem;
    transition: opacity .3s ease;
    display: flex;
    flex-direction: column;
    gap: 1em;
    opacity: 0;
}

.open{
    transform: translate(141%, -51%);
    opacity: 1;
}

.formCrearNota{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.tituloForm{
    font-family: 'Mooli', sans-serif;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.cerrarMenu{
    cursor: pointer;
    color: #303440;
    font-size: 2rem;
}

.containerTituloNota, .containerFechaNota,
.containerNotas{

    display: flex;
    flex-direction: column;
}

.containerTituloNota > input, .containerFechaNota > input{
    border-radius: 3px;
    border: 1px solid var(--color-btn-primary);
    outline: none;
    font-family: 'Mooli', sans-serif;
    height: 1.8rem
}

.containerTituloNota > label, .containerFechaNota > label,
.containerNotas > label{
    font-family: 'Mooli', sans-serif;
    letter-spacing: 1.5px;
    margin-bottom: .7rem;
    font-weight: bold;
}


.textAreaa{
    resize: none;
    border-radius: 3px;
    border: 1px solid var(--color-btn-primary);
    outline: none;
    font-family: 'Mooli', sans-serif;
    height: 8rem;
}

.botonesMenu{

    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
}

.boton{
    border-radius: 7px;
    border: none;
    color: white;
    padding: .6rem 1.6rem;
    cursor: pointer;
    font-weight: bold;
}

.boton__crear{
    background-color: var(--color-btn-primary);
    transition: background-color .3s ease;
}

.boton__crear:hover{
    background-color: rgb(59, 59, 208);
}

.boton__cancelar{
    background-color: var(--color-btn-primary);
    transition: background-color .3s ease;
}

.boton__cancelar:hover{
    background-color: rgb(59, 59, 208);
}